$light-blue: #6fb4fd;
$lighter-blue: #EBF0FB;
$dark-blue: #242943;
$red: #e56555;
$green: #65b48a;
$light-gray: #000000;

$lightest:white;
$darkest: black;

$font-size-biggest: 3rem;

//gestion des espacements
$gutter: 1rem;
$gutter-big: $gutter * 3;
$gutter-small: $gutter * 0.5;